.tabs-and-actions-container {
	background-color: #171b26 !important;
}

.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar.vertical
	.action-label.codicon {
	font-size: 15px !important;
	font-weight: 600 !important;
}

.quick-input-widget {
	top: 30% !important;
}

.monaco-sash.vertical {
	background-color: #252a38 !important;
	width: 8px;
}

.monaco-grid-view .part.sidebar.pane-composite-part {
	border-radius: 8px !important;
	border: 1px solid transparent !important;
}
