/* UI font */
body {
	--cus-sans-font: SF Pro Text, Segoe UI !important;
}

/* End UI font */

#workbench\.parts\.sidebar > .composite.title {
	background: transparent !important;
}
.monaco-workbench .part > .content > .composite {
	margin-right: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}
.monaco-workbench .part.auxiliarybar > .content > .composite.auxiliarybar {
	margin-right: 8px !important;
}
.monaco-workbench .part.auxiliarybar > .composite.title {
	background: transparent !important;
}
.monaco-scrollable-element
	> .split-view-container
	> .split-view-view.visible
	> .part.sidebar.left.pane-composite-part {
	margin-left: 10px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}
.monaco-split-view2.horizontal
	> .monaco-scrollable-element
	> .split-view-container
	> .split-view-view {
	background: #252a38 !important;
}
.editor-actions {
	opacity: 0.5 !important;
}
.title-label > h2 {
	display: none !important;
}
.monaco-list-row.selected,
.monaco-list-row.focused {
	box-shadow: inset 0 1px 0 #ffffff09 !important;
	outline: 1px solid #00000020 !important;
}
.monaco-workbench .monaco-list:not(.element-focused):focus:before {
	display: none !important;
}
.line-numbers {
	width: 36px !important;
}
.current-line-margin-both {
	background-color: #ffffff12 !important;
	width: calc(100% - 16px) !important;
	left: 12px !important;
	border-radius: 4px;
}
.quick-input-widget {
	top: 50% !important;
	transform: translateY(-51%);
	backdrop-filter: blur(10px);
	border: 1px solid #ffffff12;
	background-color: #343b4d !important;
	background: radial-gradient(
				circle at 100% 100%,
				#232936 0,
				#232936 7px,
				transparent 7px
			)
			0% 0%/8px 8px no-repeat,
		radial-gradient(circle at 0 100%, #232936 0, #232936 7px, transparent 7px)
			100% 0%/8px 8px no-repeat,
		radial-gradient(circle at 100% 0, #232936 0, #232936 7px, transparent 7px)
			0% 100%/8px 8px no-repeat,
		radial-gradient(circle at 0 0, #232936 0, #232936 7px, transparent 7px) 100%
			100%/8px 8px no-repeat,
		linear-gradient(#232936, #232936) 50% 50% / calc(100% - 2px)
			calc(100% - 16px) no-repeat,
		linear-gradient(#232936, #232936) 50% 50% / calc(100% - 16px)
			calc(100% - 2px) no-repeat,
		radial-gradient(at 100% 100%, #f48200 0%, transparent 70%),
		radial-gradient(at 100% 0%, #7e00ff 0%, rgba(0, 0, 0, 0) 70%),
		radial-gradient(at 0% 0%, #ec00ff 0%, rgba(0, 0, 0, 0) 70%), #ff0000 !important;
	border-radius: 8px !important;
	padding: 10px !important;
	box-sizing: content-box !important;
}
.quick-input-widget .monaco-inputbox {
	height: 32px !important;
	border-radius: 8px;
	margin-bottom: 4px;
}
.quick-input-widget .monaco-list-rows {
	background: transparent !important;
}
.hover-widget {
	backdrop-filter: blur(10px);
}
.monaco-button {
	border-radius: 4px;
	box-shadow: inset 0 1px 0 #ffffff09 !important;
}
.notification-toast {
	backdrop-filter: blur(10px);
	border: 1px solid #ffffff09 !important;
	border-radius: 8px !important;
}
.sidebar ul[role='tablist'] .action-item {
	width: 32px;
	padding: 0px !important;
	height: 32px !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}
.sidebar ul[role='tablist'] .action-item.checked {
	background-color: #ffffff12 !important;
	box-shadow: inset 0 1px 0 #ffffff09 !important;
	border-radius: 6px;
	outline: 1px solid #00000020 !important;
}
.sidebar ul[role='tablist'] .action-label:before {
	left: auto !important;
}
.sidebar ul[role='tablist'] .active-item-indicator {
	display: none !important;
}
.find-widget {
	border-radius: 6px;
	backdrop-filter: blur(4px);
}
.monaco-inputbox,
.scm-editor {
	border-radius: 6px !important;
}
.slider {
	border-radius: 4px;
	backdrop-filter: blur(10px);
}
.monaco-button-dropdown {
	border-radius: 6px !important;
}
.context-view.monaco-menu-container {
	border: 1px solid #ffffff09 !important;
	border-radius: 8px !important;
}
.suggest-widget {
	border-radius: 6px !important;
	backdrop-filter: blur(10px);
	overflow: hidden;
	box-shadow: 0 0 10px #00000030;
}
.suggest-widget .monaco-row {
	border-radius: 0px !important;
}
.monaco-hover {
	backdrop-filter: blur(10px);
	border-radius: 8px !important;
}
.monaco-workbench .part.sidebar {
	border: none !important;
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab {
	border: none !important;
	background: #171b26 !important;
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active {
	border-radius: 0.5rem;
	background: #252a38 !important;
}
.editor-group-container {
	border-radius: 0.5rem;
	overflow: hidden;
}
.tabs-and-actions-container {
	border-radius: 0.5rem 0.5rem 0 0;
	background: #171b26;
	padding: 0.35rem;
}
.editor-group-container .editor-container:has(.extension-editor) {
	border-radius: 0.5rem;
}
.monaco-workbench .part.editor > .content {
	padding: 0 10px 10px 10px;
	position: relative;
	background: #252a38 !important;
}
.monaco-workbench
	.part.editor
	.monaco-scrollable-element
	> .scrollbar.vertical {
	margin-right: 24px;
}
.monaco-workbench .part.editor > .content .editor-group-container {
	border-radius: 0.5rem;
	height: calc(100% - 10px);
	width: calc(100% - 20px);
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.monaco-editor {
	border-radius: 0 0 0.5rem 0.5rem;
	overflow: hidden;
}
.monaco-editor-background {
	border-radius: 0.5rem;
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container,
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.selected.tab-border-top
	> .tab-border-top-container {
	height: 0;
}
.breadcrumbs-below-tabs {
	overflow: hidden;
	background: #171b26;
}
.monaco-breadcrumbs {
	font-size: 13px;
}
.monaco-editor .sticky-widget {
	box-shadow: none;
	border-color: #2b2d30;
}
.monaco-editor .scroll-decoration {
	box-shadow: none;
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container.active
	> .title
	.tabs-container
	> .tab.active {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.tabs-and-actions-container:has(.tab.active:first-child) {
	box-shadow: -20px 5px 0 0 #171b26;
	border-radius: 0.5rem 0.5rem 0 0;
}
.monaco-split-view2.separator-border.vertical
	> .monaco-scrollable-element
	> .split-view-container
	> .split-view-view:not(:first-child):before {
	background: #2b2d30 !important;
}
.monaco-split-view2.separator-border
	> .monaco-scrollable-element
	> .split-view-container
	> .split-view-view:not(:first-child):before {
	background: #2b2d30 !important;
}
.monaco-workbench
	.part.titlebar
	> .titlebar-container
	> .titlebar-center
	> .window-title
	> .command-center
	.action-item.command-center-center {
	border-radius: 0.5rem;
	border: none;
}
.titlebar-right {
	opacity: 0;
	transition: all 0.15s;
}
.titlebar-center:hover,
.titlebar-right:hover {
	opacity: 1;
	pointer-events: all;
}
li.action-item.icon.checked,
li.action-item.icon:hover {
	opacity: 1;
}
li.action-item.icon {
	transition: all 0.15s;
	opacity: 0.2;
}
.monaco-workbench
	.pane-composite-part
	> .header-or-footer
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before,
.monaco-workbench
	.pane-composite-part
	> .header-or-footer
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item:focus
	.active-item-indicator:before,
.monaco-workbench
	.pane-composite-part
	> .title
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before,
.monaco-workbench
	.pane-composite-part
	> .title
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item:focus
	.active-item-indicator:before {
	border-top-width: 1px;
}
.part.panel
	.composite-bar-container
	.actions-container
	.action-item:not(.checked)
	a {
	color: rgb(120, 120, 120) !important;
}
.monaco-workbench .part.panel {
	background: #171b26 !important;
	margin: 0 10px 0 10px;
	height: calc(100% - 10px);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.monaco-workbench .part.auxiliarybar {
	border-radius: 0.5rem;
	height: calc(100% - 10px);
	display: flex;
	flex-direction: column;
}

#workbench\.parts\.sidebar
	> div.composite.has-composite-bar.header-or-footer.footer
	> div
	> div {
	width: 100%;
}
#workbench\.parts\.sidebar
	> div.composite.has-composite-bar.header-or-footer.footer
	> div
	> div
	> div
	> ul {
	justify-content: space-evenly;
}
#workbench\.parts\.sidebar > div.composite.title {
	position: absolute;
	right: 0;
	bottom: 35px;
}
#workbench\.parts\.sidebar {
	height: calc(100% - 10px);
}
#workbench\.parts\.sidebar
	> div.composite.has-composite-bar.header-or-footer.footer {
	transform: translateY(30px);
}

.full-input-box {
	background: radial-gradient(
				circle at 100% 100%,
				#232936 0,
				#232936 7px,
				transparent 7px
			)
			0% 0%/8px 8px no-repeat,
		radial-gradient(circle at 0 100%, #232936 0, #232936 7px, transparent 7px)
			100% 0%/8px 8px no-repeat,
		radial-gradient(circle at 100% 0, #232936 0, #232936 7px, transparent 7px)
			0% 100%/8px 8px no-repeat,
		radial-gradient(circle at 0 0, #232936 0, #232936 7px, transparent 7px) 100%
			100%/8px 8px no-repeat,
		linear-gradient(#232936, #232936) 50% 50% / calc(100% - 2px)
			calc(100% - 16px) no-repeat,
		linear-gradient(#232936, #232936) 50% 50% / calc(100% - 16px)
			calc(100% - 2px) no-repeat,
		radial-gradient(at 100% 100%, #f48200 0%, transparent 70%),
		radial-gradient(at 100% 0%, #7e00ff 0%, rgba(0, 0, 0, 0) 70%),
		radial-gradient(at 0% 0%, #ec00ff 0%, rgba(0, 0, 0, 0) 70%), #ff0000 !important;
	border-radius: 8px !important;
	padding: 10px !important;
	box-sizing: content-box !important;
}

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container.active
	> .title
	.tabs-container
	> .tab.active {
	--tab-border-top-color: transparent !important;
	background-image: url('https://i.ibb.co/HfXvdBmC/ocean-wave.gif') !important;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
